<center>
    <div>
        <p>
            <h>Hi there,</h><br /> Please Verify your Email by clicking on the button below
        </p>
        <br /><button style="
        width: 150px;
        cursor: pointer;
        background: rgb(68, 115, 245);
        color: rgb(255, 255, 255);
        border: none;
        font-size: 14px;
        font-family: OutfitSemiBold;
        height: 50px;
        border-radius: 16px;
      ">
      <a style="color: white" href=`<%= link%>`>Verify</a></button
    ><br />
    <p>For any query email at <a href="https://mail.google.com">bharatskataria@gmail.com</a></p>
  </div>
</center>